*{
    box-sizing: border-box;
}
body{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #000000;
    margin: 0;

}
.crimeTopography{
    height: 100%;
}
.crimeTopography__wrapper{
    padding: 56px 120px 76px;

}
.crimeTopography__header, .topic__value{
    font-size: 40px;
    font-weight: 700;
}
.crimeTopography__content{

}
.crimeTopography__statistic{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}