*{
    box-sizing: border-box;
}
body{
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #cbc6c6;
    margin: 0;
}
.crimeTopography{
    font-size: 40px;
    font-weight: 700;
    color: black;

}